<%- include('partials/header') %>
<div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/download">Download</a>
        <a href="/novels">Novels</a>
</div>
    <br>
    <a href = <%= "/download" %> > >Download Chapters</a>


    <br>
    <a href = <%= "/novels" %> > >Read Stored Novels</a>

